# Web App Specific Env Variables
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_...
NEXT_PUBLIC_API_URL=http://localhost:3000

# Backend specific (if needed in next.js API routes)
OPENAI_API_KEY=sk_test_...
PAYSTACK_SECRET_KEY=sk_test_...
